.env
.git
.gitignore
.dockerignore

__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache

.venv
venv

data
test_data
tor-data

docker-compose.local.yaml
docker-compose.override.yaml

junit.xml
*.pem
